.git
.next
.next-dev.err.log
.next-dev.log
node_modules
coverage
playwright-report
test-results
storage
uploads
docker-data
.docker
.cache
.turbo
.vercel
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tsbuildinfo
